<a class="<%= a.workflow.workflow_state.button_css_class %>" href="#" data-toggle="modal" data-target="#modal<%= a.id %>" role="button" style="<%= a.workflow.workflow_state.button_style %>">
  <%= a.workflow.workflow_state.button_text %>
</a>
<%= a.workflow.timeout_distance %>

<%= render partial: 'access_requests/templates/update_status', locals: {a: a, hide_button: true} %>
