<div id="multiCollapse<%= a.id %>" data-parent="#accordion" data-ar-id="<%= a.id %>" class="collapse multi-collapse mb-3">
  <div class="row">
    <div class="col">
      <div class="card card-body">
        <small>
          <ul class="list-unstyled">
            <% a.workflow.access_request_steps.order('created_at DESC').each do |t| %>
            <li class="media my-4">
              <% if t.attachments.count > 0 %>
                <%= link_to image_tag("document.jpg", class: 'mr-3', height: 100, width: 70, style: 'border: 1px solid black'), get_content_path(t.attachments.first), target: "_blank" %>
              <% elsif t.correspondences.count > 0 %>
                <%= link_to image_tag("document.jpg", class: 'mr-3', height: 100, width: 70, style: 'border: 1px solid black'), download_correspondence_path(t.correspondences.first), target: "_blank" %>
              <% else %>
                <%= image_tag("empty.png", class: 'mr-3', height: 100, width: 70, style: 'border: 1px solid black') %>
              <% end %>
              <div class="media-body">
                <h6 class="mt-0 mb-1">
                  <% if t.attachments.count > 0 %>
                    <%= link_to image_tag("download_green.svg", height: 18, align: 'left'), get_content_path(t.attachments.first), target: "_blank" %>
                  <% elsif t.correspondences.count > 0 %>
                    <%= link_to image_tag("upload_grey.svg", height: 18, align: 'left'), download_correspondence_path(t.correspondences.first), target: "_blank" %>
                  <% else %>
                    <%= image_tag "upload_grey.svg", height: 18, align: 'left' %>
                  <% end %>
                  &nbsp;
                  <%= t.transition.history_description.blank? ? t.transition.name : t.transition.history_description %>
                </h6>
                <small><%= time_ago_in_words(t.created_at) %> <%= t('.ago') %></small>
                <br/>
                <% unless t.event&.title.blank? %>
                  <%= t.event&.title %>
                  <br />
                <% end %>
                <% unless t.remarks.blank? %>
                  <%= t.remarks %>
                  <br />
                <% end %>
                <%= link_to 'Add Attachment', new_attachment_path(access_request_step_id: t.id) %>
                <% if t.attachments.count > 0 %>
                  &nbsp;-&nbsp;
                  <%= link_to 'Edit Attachment', edit_attachment_path(t.attachments.first) %>
                <% end %>
                <% if a.workflow.access_request_steps.order('created_at DESC').first.id == t.id %>
                  &nbsp;-&nbsp;
                  <a href="#" data-toggle="modal" data-target="#modal_edit<%= a.id %>"><%= t('.edit') %></a>
                  -
                  <%= link_to t('.undo'), {controller: "workflow", action: "undo", access_request_step_id: t.id}, method: :post %>
                  <% @last_wt = a.workflow.access_request_steps.order('created_at DESC').first %>
                  <%= form_with(model: @last_wt) do |f| %>
                  <div class="modal fade" id="modal_edit<%= a.id %>" tabindex="-1" role="dialog" aria-labelledby="editWorkflowModalLabel<%= a.id %>" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="editWorkflowModalLabel<%= a.id %>"><%= t('.edit_status_title') %></h5>

                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">

                          <div class="alert alert-danger alert-dismissible collapse" id="update_transition_alert<%= a.id %>" role="alert">
                            <span id="update_alert_message<%= a.id %>"></span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                          </div>

                          <div class="alert alert-success alert-dismissible collapse" id="update_transition_success<%= a.id %>" role="alert">
                            <span id="update_success_message<%= a.id %>"></span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                          </div>
                          <%= f.hidden_field(:id, value: @last_wt.id) %>

                          <% if @last_wt.event_id %>
                            <div class="form-group">
                              <%= f.label :event_description, t('.what_happened') %>
                              <%= f.select(:event_id, options_for_select(Event.where(workflow_state_id: @last_wt.transition.from_state_id).map{ |t| [t.title, t.id] }, @last_wt.event_id), {}, {class: "form-control"}) %>
                            </div>
                          <% end %>

                          <% if @last_wt.attachments.count > 0 %>
                            <div class="form-group">
                              <%= f.label :attachment_file, t('.upload_attachment') %>
                              <%= f.file_field :attachment_file %>
                            </div>

                            <div class="form-group">
                              <%= f.label :attachment_description, t('.upload_attachment_description') %>
                              <%= f.text_area(:attachment_description, value: @last_wt.attachments.first.title, class: 'form-control') %>
                            </div>
                          <% end %>

                          <% if @last_wt.correspondences.count > 0 %>
                          <div class="form-group">
                            <%= f.label :letter_text, t('.letter_text') %>
                            <%= cktext_area_tag(:letter_text, @last_wt.correspondences.first.final_text, ckeditor: { toolbar: 'mini'}) %>
                          </div>
                          <% end %>

                          <div class="form-group">
                            <label for="remarks"><%= t('.remark') %>:</label>
                            <%= f.text_area(:remarks, class: 'form-control') %>
                          </div>

                        </div>

                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t('.close') %></button>
                          <%= f.submit t('.save'), id: "remarks_update#{a.id}", data: { "disable-with": t('.saving') }, class: 'btn btn-primary' %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% end %>
                <% end %>
              </div>
            </li>
            <% end %>
            <li class="media my-4">
              <%= link_to image_tag("document.jpg", class: 'mr-3', height: 100, width: 70, style: 'border: 1px solid black'), downlaod_access_request_path(a), target: "_blank" %>
              <div class="media-body">
                <h6 class="mt-0 mb-1">
                  <%= image_tag "upload_grey.svg", height: 18, align: 'left' %>
                  &nbsp;
                  <%= t('.access_request_created') %>
                </h6>
                <small><%= time_ago_in_words(a.created_at) %> <%= t('.ago') %></small>
                <br/>
                <%= link_to t('.edit_access_request'), edit_campaign_access_request_path(campaign_id: a.campaign_id ,id: a.id), id: "edit_access_request_#{a.id}" %>
              </div>
            </li>
          </ul>
        </small>
      </div>
    </div>
    <div class="col">
      <div class="card card-body">
        <small class="nonselect">
          <%= image_tag "chat.svg", height: 18, align: 'left' %>
          &nbsp;<%= a.comments.count %>
          <%= t('.comments') %></small><hr>
        <small class="nonselect">
          <a data-toggle="modal" data-target="#addCommentModal<%= a.id %>">
            <%= image_tag "circle-with-plus.svg", height: 18, align: 'left' %>
            &nbsp;<%= t('.add_comment') %></a>
        </small>
        <br/>
        <% a.comments.includes(:user).each do |c| %>
        <small>
          <%= image_tag "user.svg", height: 18, align: 'left' %>
          &nbsp;
          <strong><%= c.user.full_name %></strong>
          <br/>
          <small><%= time_ago_in_words(c.created_at) %> <%= t('.ago') %></small>
          <br/>
          <%= c.content %>
        </small>
        <hr>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addCommentModal<%= a.id %>" tabindex="-1" role="dialog" aria-labelledby="addCommentModal<%= a.id %>Label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addCommentModal<%= a.id %>Label"><%= t('.comment') %></h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
	  <%= form_with(url: access_request_comment_url(a)) do |form| %>
      <div class="modal-body">

         <div class="alert alert-danger alert-dismissible collapse" id="comment_alert<%= a.id %>" role="alert">
           <span id="comment_alert_message<%= a.id %>"></span>
           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
             <span aria-hidden="true">×</span>
           </button>
         </div>

         <div class="alert alert-success alert-dismissible collapse" id="comment_success<%= a.id %>" role="alert">
           <span id="comment_success_message<%= a.id %>"></span>
           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
             <span aria-hidden="true">×</span>
           </button>
         </div>

		 <div class="form-group">
			 <%= form.text_area(:content, class: 'form-control' ) %>
		 </div>

  		 <label class="form-check-label">
		     <input class="form-check-input" type="checkbox" value="">
			 <%= t('.i_would_like_moderator_comment') %>
 	  	 </label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t('.close') %></button>
		        <%= form.submit t('.send'), id: "send_comment_#{a.id}", data: { "disable-with": t('.sending') }, class: 'btn btn-primary' %>
      </div>
	  <% end %>
    </div>
  </div>
</div>

<script>
  $('#modal_edit<%= a.id %>').on('hidden.bs.modal', function () {
    Turbolinks.visit(window.location.toString(), {action: 'replace'});
  });

  $('#addCommentModal<%= a.id %>').on('hidden.bs.modal', function () {
    Turbolinks.visit(window.location.toString(), {action: 'replace'});
  });
</script>
