<div id="multiCollapse<%= a.id %>" class="collapse multi-collapse mb-3">
  <div class="row">
    <div class="col">
      <div class="card card-body">
        <small>
          <ul class="list-unstyled">
            <% a.workflow.workflow_transitions.order('created_at DESC').each do |t| %>
            <li class="media my-4">
              <% if t.attachments.count > 0 %>
                <%= link_to image_tag("document.jpg", class: 'mr-3', height: 100, width: 70), get_content_path(t.attachments.first), target: "_blank" %>
              <% elsif t.letters.count > 0 %>
                <%= link_to image_tag("document.jpg", class: 'mr-3', height: 100, width: 70), download_letter_path(t.letters.first), target: "_blank" %>
              <% else %>
                <img class="mr-3" src="" alt="" width="70" height="100">
              <% end %>
              <div class="media-body">
                <h6 class="mt-0 mb-1">
                  <% if t.attachments.count > 0 %>
                    <%= link_to image_tag("download_green.svg", height: 18), get_content_path(t.attachments.first), target: "_blank" %>
                  <% elsif t.letters.count > 0 %>
                    <%= link_to image_tag("upload_grey.svg", height: 18), download_letter_path(t.letters.first), target: "_blank" %>
                  <% else %>
                    <%= image_tag "upload_grey.svg", height: 18 %>
                  <% end %>
                  &nbsp;&nbsp;
                  <%= t.transition.history_description.blank? ? t.transition.name : t.transition.history_description %>
                </h6>
                <small><%= time_ago_in_words(t.created_at) %> <%= t('.ago') %></small>
                <br/>
                <%= t.event&.title %>
                <br />
                <%= t.remarks %>
                <br />
                <% if a.workflow.workflow_transitions.order('created_at DESC').first.id == t.id %>
                  <%= link_to t('.undo'), {controller: "workflow", action: "undo", workflow_transition_id: t.id}, method: :post %>
                <% end %>
              </div>
            </li>
            <% end %>
            <li class="media my-4">
              <%= link_to image_tag("document.jpg", class: 'mr-3', height: 100, width: 70), downlaod_access_request_path(a), target: "_blank" %>
              <%=  %>
              <div class="media-body">
                <h6 class="mt-0 mb-1">
                  <%= image_tag "upload_grey.svg", height: 18 %>
                  &nbsp;&nbsp;
                  <%= t('.access_request_created') %>
                </h6>
                <small><%= time_ago_in_words(a.created_at) %> <%= t('.ago') %></small><br/>
              </div>
            </li>
          </ul>
        </small>
      </div>
    </div>
    <div class="col">
      <div class="card card-body">
        <small class="nonselect">
          <%= image_tag "chat.svg", height: 18 %>
          &nbsp;<%= a.comments.count %>
          <%= t('.comments') %></small><hr>
        <small class="nonselect">
          <a data-toggle="modal" data-target="#addCommentModal<%= a.id %>">
            <%= image_tag "circle-with-plus.svg", height: 18 %>
            &nbsp;<%= t('.add_comment') %></a>
        </small>
        <br/>
        <% a.comments.each do |c| %>
        <small>
          <%= image_tag "user.svg", height: 18 %>
          &nbsp;&nbsp;
          <strong><%= c.user.full_name %></strong>
          <br/>
          <small><%= time_ago_in_words(c.created_at) %> <%= t('.ago') %></small>
          <br/>
          <%= c.content %>
        </small>
        <hr>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addCommentModal<%= a.id %>" tabindex="-1" role="dialog" aria-labelledby="addCommentModal<%= a.id %>Label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addCommentModal<%= a.id %>Label"><%= t('.comment') %></h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
	  <%= form_with(url: access_request_comment_url(a)) do |form| %>
      <div class="modal-body">

         <div class="alert alert-danger alert-dismissible collapse" id="comment_alert<%= a.id %>" role="alert">
           <span id="comment_alert_message<%= a.id %>"></span>
           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
             <span aria-hidden="true">×</span>
           </button>
         </div>

         <div class="alert alert-success alert-dismissible collapse" id="comment_success<%= a.id %>" role="alert">
           <span id="comment_success_message<%= a.id %>"></span>
           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
             <span aria-hidden="true">×</span>
           </button>
         </div>

		 <div class="form-group">
			 <%= form.text_area(:content, class: 'form-control' ) %>
		 </div>

  		 <label class="form-check-label">
		     <input class="form-check-input" type="checkbox" value="">
			 <%= t('.i_would_like_moderator_comment') %>
 	  	 </label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t('.close') %></button>
		        <%= form.submit t('.send'), id: "send_comment_#{a.id}", data: { "disable-with": t('.sending') }, class: 'btn btn-primary' %>
      </div>
	  <% end %>
    </div>
  </div>
</div>

<script>
  $('#addCommentModal<%= a.id %>').on('hidden.bs.modal', function () {
    Turbolinks.visit(window.location.toString(), {action: 'replace'});
  });
</script>
