<div class="form-group">
  <%= f.label :response_type, t('.response_type') %>
  <br />
  <%= f.select(:response_type_id, options_for_select(Correspondence.correspondence_types), {}, {class: "form-control", include_blank: false}) %>
</div>

<div class="form-group">
  <%= f.label :response_description, t('.description') %>
  <br />
  <%= f.text_area :response_description, {class: "form-control"} %>
</div>

<div class="form-group">
  <%= f.label :response_attachment_file, t('.response_attachments') %>
  <br />
  <%= f.file_field :response_attachment_file, id: "workflow_response_attachment_files_#{a.id}", multiple: true, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :response_received_date, t('.received_date') %>
  <br />
  <%= f.date_field :response_received_date, {class: "form-control", value: Date.today} %>
</div>
