<!-- HA: minimalist solution for now hiding correspondence type & editor (see spec) -->
<!-- div class="form-group">
    <%= f.label :send_correspondence_correspondence_type, t('.letter_type') %>
    <%= f.select :send_correspondence_correspondence_type, Correspondence.correspondence_types.keys.to_a, {}, {class: "form-control send_communication_type", 'data-ar-id' => a.id} %>
</div -->

<div class="form-group">
  <%= f.label :send_correspondence_correspondence_medium, t('.correspondence_medium') %>
  <br />
  <%= f.select(:send_correspondence_correspondence_medium, options_for_select(Correspondence.media), {}, {class: "form-control", include_blank: false}) %>
</div>
<!-- HA: (same reason) -->
<!-- div class="form-group">
    <div id="textContentExpanded">
      <%= cktext_area_tag(:send_correspondence_custom_text, a.get_rendered_template(:reminder), ckeditor: { toolbar: 'mini'}) %>
    </div>
</div-->
<div class="form-group">
    <%= f.label :send_correspondence_attachment_file, t('.send_attachments') %>
    <br />
    <%= f.file_field :send_correspondence_attachment_file, id: "workflow_send_attachment_files_#{a.id}", multiple: true, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.check_box :send_correspondence_private_attachment, {:checked=>true}, false, true %>
  <%= f.label :send_correspondence_private_attachment, t('.privacy') %>
</div>
<div class="form-group">
    <%= label_tag(:send_correspondence_date, t('.sending_date_label')) %>
    <br>
    <%= date_field_tag(:send_correspondence_date, Date.today)%>
</div>
<!-- HA: (same reason) -->
<!-- div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong><%= t('.passport_id_warning') %></strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div -->
