<div class="form-group">
    <%= f.label :letter_type, t('.letter_type') %>
    <%= f.select :letter_type, Letter.letter_types.keys.to_a, {}, {class: "form-control send_communication_type", 'data-ar-id' => a.id} %>
</div>
<div class="form-group">
    <label for="customText"><%= t('.text_type_select') %></label>
    <div class="form-check">
        <label class="form-check-label">
            <input class="form-check-input" type="radio" name="textTypeRadios" id="textTypeRadioStandard" value="standard"> <%= t('.text_type_standard') %>
        </label>
    </div>
    <div class="form-check">
        <label class="form-check-label">
            <input class="form-check-input" type="radio" name="textTypeRadios" id="textTypeRadioExpanded" value="expanded" checked> <%= t('.text_type_custom') %>
        </label>
    </div><br/>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong><%= t('.please_note_fields_in_red') %></strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div id="textContentStandard" style="border:2px solid gray;">
    <%= hidden_field_tag(:standard_text, a.get_rendered_template(:reminder)&.html_safe)%>
    <%= a.get_rendered_template(:reminder)&.html_safe %>
    </div>
    <div id="textContentExpanded" style="display: none;">
      <%= cktext_area_tag(:custom_text, a.get_rendered_template(:reminder), ckeditor: { toolbar: 'mini'}) %>
    </div>
</div>
<div class="form-group">
      <%= label_tag(:sent_date, t('.sending_date_label')) %>
      <br>
      <%= date_field_tag(:sent_date, Date.today)%>
</div>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong><%= t('.passport_id_warning') %></strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
