<%= form_with(model: attachment, local: true) do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title, id: :title, disabled: true %>
  <%= form.label :content_type %>
  <%= form.text_field :content_type, id: :content_type, disabled: true %>
  <br>
  <%= form.label :access_request %>
  <%= form.collection_select(:access_request_id, AccessRequest.all, :id, :id) %>
  <br>
  <% if @attachment && !@attachment.content.blank? %>
    <%= image_tag thumbnail_path(@attachment.id) %>
    <br>
  <% end %>
  <%= button_tag "Content", type: 'button', onclick: "showContentEditor()" %>
  <br>
  <br>

  <% if attachment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attachment.errors.count, "error") %> prohibited this attachment from being saved:</h2>

      <ul>
      <% attachment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
