<p id="notice"><%= notice %></p>
<b>Title:</b> <%= @attachment.title%>
<br>
<b>Content Type:</b>  <%= @attachment.content_type %>
<br>
<br>
<%= link_to 'Edit', edit_attachment_path(@attachment) %> |
<%= link_to 'Back', attachments_path %>
