<!-- card 1 -->
<div class="col-sm" style="padding-right:0;">
  <div class="card bg-light mb-3 text-center" style="max-width: 20rem;">
    <div class="card-header">
      <small><%= t('.requests_sent') %></small>
    </div>
    <div class="card-body">
      <h2 class="card-title"><%= @requests_sent %></h2>
    </div>
  </div>
</div>

<!-- card 2 -->
<div class="col-sm" style="padding-right:0;">
  <div class="card bg-light mb-3 text-center" style="max-width: 20rem;">
    <div class="card-header">
      <small><%= t('.responses') %></small>
    </div>
    <div class="card-body">
      <h2 class="card-title"><%= @responses %></h2>
    </div>
  </div>
</div>

<!-- card 3 -->
<div class="col-sm" style="padding-right:0;">
  <div class="card bg-light mb-3 text-center" style="max-width: 20rem;">
    <div class="card-header">
      <small><%= t('.participants') %></small>
    </div>
    <div class="card-body">
      <h2 class="card-title"><%= @participants %></h2>
    </div>
  </div>
</div>

<!-- card 4 -->
<div class="col-sm" style="padding-right:0;">
  <div class="card bg-light mb-3 text-center" style="max-width: 20rem;">
    <div class="card-header">
      <small><%= t('.organizations') %></small>
    </div>
    <div class="card-body">
      <h2 class="card-title"><%= @organizations %></h2>
    </div>
  </div>
</div>
