<div class="container">
  <div class="row mt-5">
    <div class="col-md-7">
      <h1 class="display-4" style="padding-bottom: 10px"><%= t '.join_us' %></h1>
      <div class="row" style="padding-right: 32px">

        <%= render partial: 'stats' %>

        <p style="padding-right: 12px; padding-top: 10px; padding-bottom: 10px;">
          <%= t('.participant_landing_message_part1').html_safe %>
        </p>
        <div style="padding-right: 18px;">
          <div id="carouselExampleIndicators" class="carousel slide border" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <%= image_tag "datarights_screenshot_1.jpg", class: "d-block w-100" %>
              </div>
              <div class="carousel-item">
                <%= image_tag "datarights_screenshot_2.jpg", class: "d-block w-100" %>
              </div>
              <div class="carousel-item">
                <%= image_tag "datarights_screenshot_3.jpg", class: "d-block w-100" %>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only"><%= t('.previous') %></span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only"><%= t('.next') %></span>
            </a>
          </div>
        </div>
        <p style="padding-right: 12px; padding-top: 10px; padding-bottom: 10px;">
          <%= t('.participant_landing_message_part2').html_safe %>
        </p>
        <p>
          <a class="btn btn-primary btn-lg" href="#" role="button"><%= t '.more_information' %>
            &raquo;</a>
        </p>
      </div>
    </div>
    <div class="col-md-5 jumbotron">
      <h3><%= t('.sign_up') %></h3>
      <%= form_for(:user, as: :user, url: registration_path(:user)) do |f| %>

      <div class="form-row">
        <div class="form-group col-md-12">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class:"form-control" %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
        </div>
      </div>

        <div class="actions">
          <%= f.submit t('user_links.sign_up'), class: 'btn btn-primary' %>
        </div>
        <br />
        <p>
            <%= link_to t('user_links.forgot_your_password'), new_password_path(:user) %><br />

            <%= link_to t('user_links.didnt_receive_confirmation'), new_confirmation_path(:user) %><br />

            <%= link_to t('user_links.didnt_receive_unlock'), new_unlock_path(:user) %><br />
        </p>
      <% end %>
    </div>
  </div>

  <p><small><%= t '.partners' %></small></p>
  <p>
      <%= image_tag "tudelft.png", width: 130 %>
      <%= image_tag "princeton.png", width: 140, hspace: 90 %>
      <%= image_tag "nlnet.png", width: 120 %>
      <br/>&nbsp;<br/>&nbsp;<br/>
  </p>
</div>
