<a class="<%= a.workflow.workflow_state.button_css_class %>" href="#" data-toggle="modal" data-target="#modal<%= a.id %>" role="button" style="<%= a.workflow.workflow_state.button_style %>">
  <%= a.workflow.workflow_state.button_text %>
</a>
<%= form_with(model: a.workflow, id: "update_status_form_#{a.id}") do |f| %>

<div class="modal fade" id="modal<%= a.id %>" tabindex="-1" role="dialog" aria-labelledby="modal<%= a.id %>Label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="statusUpdateModalLabel"><%= t('.update_status') %></h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="alert alert-danger alert-dismissible collapse" id="send_event_alert<%= a.id %>" role="alert">
          <span id="alert_message<%= a.id %>"></span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>

        <div class="alert alert-success alert-dismissible collapse" id="send_event_success<%= a.id %>" role="alert">
          <span id="success_message<%= a.id %>"></span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>

        <%= f.hidden_field(:ui_form, id: "ui_form_#{a.id}") %>

        <div class="form-group">
          <%= f.label :event_description, t('.what_happened') %>
          <%= f.select(:event_id, options_for_select(Event.where(workflow_state_id: a.workflow.workflow_state_id).order('display_order').map{ |t| [t.title, t.id] }), {:include_blank => t('.select_blank')}, {class: "form-control event_id_dropdown", required:"required", 'data-ar-id' => a.id}) %>
        </div>

        <div id="upload_attachment_<%= a.id %>" class="collapse dynamic dynamic_events">
          <div class="form-group">
            <%= f.label :attachment_file, t('.upload_attachment') %>
            <%= f.file_field 'attachment_file', id: "workflow_attachment_file_#{a.id}", multiple: true, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :attachment_description, t('.upload_attachment_description') %>
            <%= f.text_area(:attachment_description, class: 'form-control') %>
          </div>
        </div>

        <div id="receive_correspondence_<%= a.id %>" class="collapse dymanic dynamic_events">
          <%= render partial: 'access_requests/templates/transition_forms/receive_correspondence', locals: {a: a, f: f} %>
        </div>

        <!--
        <div class="form-group">
          <%= f.check_box(:do_blackout) %>
          <%= f.label :do_blackout, t('.i_want_to_blackout') %>
        </div>
        -->

        <div class="form-group">
          <%= t('.what_do_you_want_to_do_now') %>
          <%= f.hidden_field(:id) %>
          <%= f.select(:transition_id, options_for_select(a.workflow.workflow_state.possible_transitions.where(transition_type: :event).map{ |t| [t.name, t.id, { 'data-ui-form' => t.ui_form || "" }] }), {:include_blank => t('.select_blank')}, {class: "form-control", id: "access_request_step_id_#{a.id}", required:"required"}) %>
        </div>
        <div class="form-group">
          <%= f.label :remarks, t('.remark') %>
          <%= f.text_area(:remarks, class: 'form-control') %>
        </div>
        <div class="form-group">
          <%= f.hidden_field(:current_form, value: 'update_status', id: "workflow_current_form#{a.id}" ) %>
        </div>
        <div id="send_correspondence<%= a.id %>" class="collapse dynamic_transitions">
          <%= render partial: 'access_requests/templates/send_correspondence', locals: {a: a, f: f} %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t('.close') %></button>
        <%= f.submit t('.save'), id: "update_status_save#{a.id}", data: { "disable-with": t('.saving') }, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
<% end %>

<script>
  $('#modal<%= a.id %>').on('hidden.bs.modal', function () {
    Turbolinks.visit(window.location.toString(), {action: 'replace'});
  });

  $('#<%= "access_request_step_id_#{a.id}" %>').change(function() {
    $('.dynamic_transitions').hide();
    var ui_form = $('option:selected', this).attr('data-ui-form');
    $('#workflow_current_form<%= a.id %>').val(ui_form);
    if (ui_form != undefined && ui_form != '') {
      $('#' + ui_form + "<%= a.id %>").show();
    }
  });

  // Bug fix for Safari 11.1 and later:
  // https://github.com/rails/rails/issues/32440
  // https://stackoverflow.com/questions/49614091/safari-11-1-ajax-xhr-form-submission-fails-when-inputtype-file-is-empty/49708973#49708973
  $("#update_status_save<%= a.id %>").click(function() {
    if($("#workflow_attachment_file_<%= a.id %>").val() === "") {
      $("#workflow_attachment_file_<%= a.id %>").remove();
    }

    if($("#workflow_response_attachment_files_<%= a.id %>").val() === "") {
      $("#workflow_response_attachment_files_<%= a.id %>").remove();
    }

    send_corr_file = $("#workflow_send_attachment_files_#{a.id}")

    if send_corr_file != undefined && (send_corr_file.val() == undefined || send_corr_file.val() == "")
      send_corr_file.remove()

    return true;
  });
</script>
