<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <h3><%= @campaign.name %>
        <small>(<%= @campaign_count %>)</small>
      </h3>
      <p><%= @campaign.expanded_description %>
      </p>
    </div>
    <div class="col-md-8">
      <h3>
        <% if @access_request.id %>
          <%= t('.edit_title') %>
        <% elsif @access_request.existing %>
          <%= t('.upload_existing_ar') %>
        <% else %>
          <%= t('.create_title') %>
        <% end %>
      </h3>
      <%= form_for [@campaign, @access_request] do |f| %>
      <%= f.hidden_field(:campaign_id) %>
      <%= f.hidden_field(:existing) %>

      <% if params[:action] == 'new' %>
        <div class="form-group">
          <%= label_tag(:sector_id, t('.sector_label')) %>
          <br>
          <%= f.select(:sector_id, options_for_select(@sectors,@selected_sector), {}, {class: "form-control", include_blank: false}) %>
        </div>
        <div class="form-group">
          <%= f.label(:organization_id, t('.organization_label')) %>
          <br>
          <%= f.select(:organization_id, options_for_select(@organizations,@selected_organization), {}, {class: "form-control", include_blank: false}) %>
        </div>
        <div class="m-3">
          <small>
            <a href="#" data-toggle="modal" data-target="#addOrganizationModal" role="button"> <%= t('.click_here') %></a> <%= t('.add_organization') %>
          </small>
        </div>

        <div class="form-group <%= @access_request.existing ? 'collapse' : '' %>">
          <%= f.label(:template_version_id, t('.template_label')) %>
          <br>
          <%= f.select(:template_version_id, options_for_select(@templates.pluck(:version, :id),@selected_template.id), {}, {class: "form-control", include_blank: false}) %>
        </div>
        <!-- TODO: after creating wiki pages for organization uncomment this line
        <div class="m-3">
          <small>
            <a href="#"><%= t('.click_here') %></a>
            <%= t('.organization_help') %>
          </small>
        </div>
        -->
      <% end %>
      <div id="new_access_request_fields" class="<%= @access_request.existing ? 'collapse' : '' %>">
          <label for="exampleFormControlTextarea1"><%= t('.text_type_select') %></label>
          <br/>
          <div class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="textTypeRadios" id="textTypeRadioStandard" value="standard" checked="<%= params[:action] == 'new' %>">
                <%= t('.text_type_standard') %>
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="textTypeRadios" id="textTypeRadioExpanded" value="expanded" checked="<%= params[:action] == 'edit' %>">
                <%= t('.text_type_custom') %>
              </label>
            </div><br/>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong><%= t('.please_note_fields_in_red') %></strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <%= f.hidden_field(:suggested_text)%>
            <div id="textContentStandard" style="border:2px solid gray;">
              <%= @rendered_template&.html_safe %>
            </div>
            <div id="textContentExpanded" style="display: none;">
              <%= f.cktext_area(:final_text, ckeditor: { toolbar: 'mini'}) %>
            </div>
          </div>
          <%= button_tag t('.preview_button'), type: 'button', data: { "disable-with": t('.generating_preview_pdf'), "target": "#previewModal", "toggle": "modal"}, class: 'btn btn-secondary', id: 'ar_pdf_preview' %>
          <br>
          <br>
      </div>

      <% if @access_request.existing %>
        <br>
        <div class="form-group">
          <%= label_tag(:access_request_file, t('.upload_access_request_file')) %>
          <br>
          <%= f.file_field(:access_request_file) %>
        </div>

        <div class="form-group">
          <%= label_tag(:sending_method, t('.access_request_sending_method')) %>
          <br>
          <%= f.select(:sending_method_id, options_for_select(SendingMethod.all.pluck(:name, :id), @access_request.sending_method_id), {}, {class: "form-control", include_blank: false}) %>
        </div>

        <div class="form-group">
          <%= label_tag(:sending_method_remarks, t('.sending_method_remarks')) %>
          <br />
          <%= f.text_area(:sending_method_remarks, {class: "form-control"}) %>
        </div>

      <% end %>

      <div class="form-group">
        <%= label_tag(:sent_date, t('.sending_date_label')) %>
        <br>
        <%= f.date_field(:sent_date)%>
      </div>

      <% if @access_request.existing %>
        <%= f.submit t('.submit_upload_ar'), id: 'submit_upload_ar', class: 'btn btn-primary' %>
      <% else %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong><%= t('.passport_id_warning') %></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <%= f.submit t('.final_button'), id: 'btn_generate_pdf', class: 'btn btn-primary' %>
      <% end %>
    <% end %>
    <br/>
  </div>
 </div>
</div>
<!-- /container -->

<!-- /add organization modal -->
<%= form_with(model: @organization) do |f| %>
<div class="modal fade" id="addOrganizationModal" tabindex="-1" role="dialog" aria-labelledby="addOrganizationModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addOrganizationModalTitle"><%= t('.add_organization_modal_title') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger alert-dismissible collapse" id="add_organization_alert" role="alert">
          <span id="alert_message_add_organization"></span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>

        <div class="form-group">
            <%= f.label :name, t('.organization_label') %>
            <%= f.text_field(:name, class: "form-control")%>
        </div>

        <%= hidden_field_tag(:campaign_id, @campaign.id) %>

        <div class="form-group">
            <%= f.label :privacy_policy_url, t('.privacy_policy_url') %>
            <%= f.url_field(:privacy_policy_url, class: "form-control")%>
        </div>

        <fieldset>
          <legend>Address <%= image_tag "info_with_circle.svg", height: 16, style: 'cursor: pointer', role: 'button', :"data-toggle" => 'popover', :"data-content" => t('.address_help_content'), :"data-original-title" => t('.address_help_title'), :"aria-describedby" => 'popover769085' %></legend>
            <br />
              <%= f.fields_for :address, Address.new do |a| %>

                <div class="form-row">
                  <div class="form-group col-md-12">
                    <%= a.label :email %><br />
                    <%= a.email_field :email, class:"form-control" %>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-12">
                    <%= a.label :line1 %><br />
                    <%= a.text_field :line1, class:"form-control" %>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-12">
                    <%= a.label :line2 %><br />
                    <%= a.text_field :line2, class:"form-control" %>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-2">
                    <%= a.label :post_code %><br />
                    <%= a.text_field :post_code, class:"form-control" %>
                  </div>

                  <div class="form-group col-md-6">
                    <%= a.label :city_name %><br />
                    <%= a.text_field :city_name, class:"form-control" %>
                  </div>

                  <div class="form-group col-md-4">
                    <%= a.label :country %><br />
                    <%= a.collection_select(:country_id, Country.all, :id, :name, {}, {:class => 'form-control'}) %>
                  </div>
                </div>

              <% end %>
        </fieldset>

      </div>

      <div class="modal-footer">
        <%= f.submit t('.save'), id: "new_organization_submit", data: { "disable-with": t('.saving') }, class: 'btn btn-primary' %>
      </div>

    </div>
  </div>
</div>
<% end %>

<!-- /preview modal -->
<div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="previewModalTitle"><%= t('.preview_modal_title') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="preview">
          <iframe id='iframe_preview' style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
          <span>&nbsp;</span>
        </div>
      </div>
      <div class="modal-footer">
        &nbsp;
      </div>
    </div>
  </div>
</div>
