<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <h3><%= @campaign.name %>
        <small>(<%= @campaign_count %>)</small>
      </h3>
      <p><%= @campaign.expanded_description %>
      </p>
    </div>
    <div class="col-md-8">
      <h3>
        <% if @access_request.id %>
          <%= t('.edit_title') %>
        <% else %>
          <%= t('.create_title') %>
        <% end %>
      </h3>
      <%= form_for [@campaign, @access_request] do |f| %>

          <%= f.hidden_field(:campaign_id) %>
          <div class="form-group">
            <strong><%= label_tag(:sector_id, t('.sector_label')) %></strong>
            <br>
            <%= f.select(:sector_id, options_for_select(@sectors,@selected_sector), {}, {class: "form-control", include_blank: false}) %>
          </div>
          <div class="form-group">
            <strong><%= f.label(:organization_id, t('.organization_label')) %></strong>
            <br>
            <%= f.select(:organization_id, options_for_select(@organizations,@selected_organization), {}, {class: "form-control", include_blank: false}) %>
          </div>
          <div class="mt-1">
            <small>
              <a href="#" data-toggle="modal" data-target="#addOrganizationModal" role="button"> <%= t('.click_here') %></a> <%= t('.add_organization') %>
            </small>
          </div>

          <div class="form-group mt-3">
            <strong><%= t('.template_or_your_own') %></strong>
            <br />
            <br />
            <%= f.radio_button(:ar_method, 'template') %>
            <%= f.label(:ar_method, t('.using_request_templates')) %>
            <br />
            <%= f.radio_button(:ar_method, 'upload') %>
            <%= f.label(:ar_method, t('.uploading_request')) %>
          </div>

          <div id="template_fields">
            <div class="form-group">
              <strong><%= f.label(:template_id, t('.template_label')) %></strong>
              <br>
              <%= f.select(:template_id, options_from_collection_for_select(@templates, :id, :version, @selected_template), {}, {class: "form-control", include_blank: false}) %>
            </div>
            <!-- TODO: after creating wiki pages for organization uncomment this line
            <div class="m-3">
              <small>
                <a href="#"><%= t('.click_here') %></a>
                <%= t('.organization_help') %>
              </small>
            </div>
            -->
            <div class="form-group">
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong><%= t('.please_note_fields_in_red') %></strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <%= f.hidden_field(:suggested_text)%>
              <div id="textContentExpanded">
                <%= f.cktext_area(:final_text, ckeditor: { toolbar: 'mini'}) %>
              </div>
            </div>
            <%= button_tag t('.preview_button'), type: 'button', data: { "disable-with": t('.generating_preview_pdf'), "target": "#previewModal", "toggle": "modal"}, class: 'btn btn-secondary', id: 'ar_pdf_preview' %>
            <br>
            <br>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong><%= t('.passport_id_warning') %></strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>

          <div id="upload_fields" class="form-group mt-3 collapse">
            <strong><%= label_tag(:access_request_file, t('.upload_access_request_file')) %></strong>
            <br>
            <%= f.file_field(:uploaded_access_request_file) %>
          </div>

          <%= f.submit t('.final_button'), id: 'btn_submit_ar', class: 'btn btn-primary' %>
      <% end %>
  </div>
 </div>
</div>
<!-- /container -->

<!-- /add organization modal -->
<%= form_with(model: @organization) do |f| %>
<div class="modal fade" id="addOrganizationModal" tabindex="-1" role="dialog" aria-labelledby="addOrganizationModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addOrganizationModalTitle"><%= t('.add_organization_modal_title') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger alert-dismissible collapse" id="add_organization_alert" role="alert">
          <span id="alert_message_add_organization"></span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>

        <div class="form-group">
            <%= f.label :name, t('.organization_label') %>
            <%= f.text_field(:name, class: "form-control")%>
        </div>

        <%= hidden_field_tag(:campaign_id, @campaign.id) %>

        <div class="form-group">
            <%= f.label :privacy_policy_url, t('.privacy_policy_url') %>
            <%= f.url_field(:privacy_policy_url, class: "form-control")%>
        </div>

        <fieldset>
          <legend>Address <%= image_tag "info_with_circle.svg", height: 16, style: 'cursor: pointer', role: 'button', :"data-toggle" => 'popover', :"data-content" => t('.address_help_content'), :"data-original-title" => t('.address_help_title'), :"aria-describedby" => 'popover769085' %></legend>
            <br />
              <%= f.fields_for :address, Address.new do |a| %>

                <div class="form-row">
                  <div class="form-group col-md-12">
                    <%= a.label :email %><br />
                    <%= a.email_field :email, class:"form-control" %>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-12">
                    <%= a.label :line1 %><br />
                    <%= a.text_field :line1, class:"form-control" %>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-12">
                    <%= a.label :line2 %><br />
                    <%= a.text_field :line2, class:"form-control" %>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-2">
                    <%= a.label :post_code %><br />
                    <%= a.text_field :post_code, class:"form-control" %>
                  </div>

                  <div class="form-group col-md-6">
                    <%= a.label :city_name %><br />
                    <%= a.text_field :city_name, class:"form-control" %>
                  </div>

                  <div class="form-group col-md-4">
                    <%= a.label :country %><br />
                    <%= a.collection_select(:country_id, Country.all, :id, :name, {include_blank: true}, {class: 'form-control country'}) %>
                  </div>
                </div>

              <% end %>
        </fieldset>

      </div>

      <div class="modal-footer">
        <%= f.submit t('.save'), id: "new_organization_submit", data: { "disable-with": t('.saving') }, class: 'btn btn-primary' %>
      </div>

    </div>
  </div>
</div>
<% end %>

<!-- /preview modal -->
<div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="previewModalTitle"><%= t('.preview_modal_title') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="preview">
          <iframe id='iframe_preview' style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
          <span>&nbsp;</span>
        </div>
      </div>
      <div class="modal-footer">
        &nbsp;
      </div>
    </div>
  </div>
</div>
