<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <h3><%= @campaign.name %>
        <small>(<%= @campaign_count %>)</small>
      </h3>
      <p><%= @campaign.expanded_description %>
      </p>
    </div>
    <div class="col-md-8">
      <h3>
        <% if @access_request.id %>
          <%= t('.edit_title') %>
        <% else %>
          <%= t('.create_title') %>
        <% end %>
      </h3>
      <%= form_for [@campaign, @access_request] do |f| %>
      <%= f.hidden_field(:campaign_id) %>

      <% if params[:action] == 'new' %>
        <div class="form-group">
          <%= label_tag(:sector_id, t('.sector_label')) %>
          <br>
          <%= f.select(:sector_id, options_for_select(@sectors,@selected_sector), {}, {class: "form-control", required: true}) %>
        </div>
        <div class="form-group">
          <%= f.label(:organization_id, t('.organization_label')) %>
          <br>
          <%= f.select(:organization_id, options_for_select(@organizations,@selected_organization), {}, {class: "form-control", required: true}) %>
        </div>
        <small>
          <a href="#"><%= t('.click_here') %></a>
          <%= t('.organization_help') %></small><br/><br/>
          <label for="exampleFormControlTextarea1"><%= t('.text_type_select') %></label>
      <% end %>
      <br/>
      <div class="form-group">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="textTypeRadios" id="textTypeRadioStandard" value="standard" checked="<%= params[:action] == 'new' %>">
            <%= t('.text_type_standard') %>
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="textTypeRadios" id="textTypeRadioExpanded" value="expanded" checked="<%= params[:action] == 'edit' %>">
            <%= t('.text_type_custom') %>
          </label>
        </div><br/>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong><%= t('.please_note_fields_in_red') %></strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <%= f.hidden_field(:suggested_text)%>
        <div id="textContentStandard" style="border:2px solid gray;">
          <%= @rendered_template.html_safe %>
        </div>
        <div id="textContentExpanded" style="display: none;">
          <%= f.cktext_area(:final_text, ckeditor: { toolbar: 'mini'}) %>
        </div>
      </div>
      <%= button_tag t('.preview_button'), type: 'button', data: { "disable-with": t('.generating_preview_pdf'), "target": "#previewModal", "toggle": "modal"}, class: 'btn btn-secondary', id: 'ar_pdf_preview' %>
      <br>
      <br>
      <div class="form-group">
        <%= label_tag(:sent_date, t('.sending_date_label')) %>
        <br>
        <%= f.date_field(:sent_date)%>
      </div>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong><%= t('.passport_id_warning') %></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= f.submit t('.final_button'), id: 'btn_generate_pdf', class: 'btn btn-primary' %>
    <% end %>
    <br/>
  </div>
 </div>
</div>
<!-- /container -->

<!-- /preview modal -->
<div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="previewModalTitle"><%= t('.preview_modal_title') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="preview">
          <iframe id='iframe_preview' style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
          <span>&nbsp;</span>
        </div>
      </div>
      <div class="modal-footer">
        &nbsp;
      </div>
    </div>
  </div>
</div>
