<div class="container" style="margin-top: 50px;">
  <div class="row">
    <div class="col-md-4">
      <h3><%= @campaign.name %> <small>(<%= @campaign.count_of_access_requests %>)</small></h3>
      <p>
        <%= @campaign.expanded_description %>
      </p>
      <p>
        <%= link_to t('common.create_new_ar'), {:controller => "access_requests", :action => "new", :campaign_id => @campaign.id }, class: 'btn btn-success' %>
      </p>
    </div>
    <div class="col-md-8">
      <% @access_requests.each do |a| %>
        <h5>
          <%= a.organization.name %>
          &nbsp;
          <small><%= a.organization.sector.name %></small>
        </h5>
        <p>
          <a class="btn btn-secondary disabled" href="#" role="button" aria-disabled="true">&nbsp;</a>
          <% a.workflow.workflow_transitions.each do |wt| %>
            <a class="btn btn-secondary disabled" href="#" role="button" aria-disabled="true">&nbsp;</a>
          <% end %>
          <% if a.workflow.workflow_state.workflow_state_form %>
            <%= render partial: a.workflow.workflow_state.workflow_state_form.form_path, locals: {a: a} %>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>
</div>
