<% if @download_ar %>
  <iframe width="1" height="1" frameborder="0" src="<%= downlaod_access_request_path(@download_ar) %>"></iframe>
<% end %>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <h3><%= @campaign.name %> <small>(<%= @campaign.count_of_access_requests %>)</small></h3>
      <p>
        <%= @campaign.expanded_description %>
      </p>
      <p>
        <%= link_to t('common.create_new_ar'), new_campaign_access_request_path(campaign_id: @campaign.id), class: 'btn btn-success' %>
      </p>
    </div>
    <div class="col-md-8">
      <div id="accordion" role="tablist" aria-multiselectable="true">
      <% @access_requests.each do |a| %>
        <h5 class="nonselect" data-toggle="collapse" data-parent="#accordion" data-target="#multiCollapse<%= a.id %>" aria-expanded="true" aria-controls="multiCollapse<%= a.id %>">
          <%= image_tag "controller-play.svg", height: 24 %>
          <%= a.organization.name %>
          &nbsp;
          <small><%= a.organization.sector.name %></small>
        </h5>
        <p>
          <a class="btn btn-secondary disabled" href="#" role="button" aria-disabled="true">&nbsp;</a>
          <% a.workflow.workflow_transitions.joins(:transition).where(transitions: {transition_type: :event}).each do |wt| %>
            <a class="btn btn-secondary disabled" href="#" role="button" aria-disabled="true">&nbsp;</a>
          <% end %>
          <% if a.workflow.workflow_state.workflow_state_form %>
            <%= render partial: a.workflow.workflow_state.workflow_state_form.form_path, locals: {a: a} %>
          <% end %>
        </p>
    		<p>
    		  <%= render partial: 'access_requests/templates/history_comments', locals: {a: a} %>
    		</p>
      <% end %>
      </div>
    </div>
  </div>
</div>
