<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3><%= @campaign_name %> <small>(<%= @campaign_count %>)</small></h3>
            <p><%= @campaign_desc %> </p>
        </div>
        <div class="col-md-8">
            <h3>Create new access request</h3>

            <%= form_tag({}, method: "get") do %>
                <%= hidden_field_tag(:campaign_id,@campaign_id) %>
                <div class="form-group">
                    <%= label_tag(:sector_id, "Sector:") %>
                    <%= select_tag(:sector_id, options_for_select(@sectors,@selected_sector)) %>
                </div>
                <div class="form-group">
                    <%= label_tag(:organization_id, "Organization:") %>
                    <%= select_tag(:organization_id, options_for_select(@organizations,@selected_organization)) %>
                </div>
                <small><a href="#">Click here</a> for more information about the selected organization on our wiki page.</small><br/><br/>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Text of access request</label>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="textTypeRadios" id="textTypeRadioStandard" value="standard" checked> Standard text
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="textTypeRadios" id="textTypeRadioExpanded" value="expanded"> Expanded text
                        </label>
                    </div><br/>
                    <div id="textContentStandard">
                    <%= @rendered_template.html_safe %>
                    </div>
                    <div id="textContentExpanded" style="display: none;">
                      <p>CCCCCCCCC </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect3">Date of sending</label><br/>
                    <input id="date" type="date">
                </div>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Do not forget to attach a copy of your passport/ID card to your access request.</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <a class="btn btn-primary" href="template3.html" role="button">Generate PDF</a>
            <% end %>
            <br/>
        </div>
    </div>
    <hr>
</div> <!-- /container -->
