<div class="jumbotron">
  <div class="container">
    <h1 class="display-3"><%= t('layouts.application.campaigns') %></h1>
    <p class='mt-5'>
      <%= t('.general_text') %>
    </p>
    <!--
    <p>
      <a class="btn btn-primary btn-lg" href="#" role="button"><%= t('.learn_more') %> »</a>
    </p>
    -->
  </div>
</div>
<div class="container">
  <div class="row mt-5">
    <%= render partial: '/home/stats' %>
  </div>
</div>
<div class="container mt-5">
  <% @campaigns.each do |c| %>
    <div class="row">
      <div class="col-md-4" id="campaign_<%= c.id %>">
        <h3><%= c.name %></h3>
        <p><%= c.short_description %></p>
        <p>
          <%= link_to(t('.join_campaign'), user_profile_for_campaign_path(c), {"class": "btn btn-secondary", "id": "join_campaign_#{c.id}"}) %>
        </p>
      </div>
    </div>
  <% end %>
</div>
