<div class="jumbotron">
  <div class="container">
    <h1 class="display-3"><%= t('layouts.application.campaigns') %></h1>
    <p>
      <%= t('.general_text') %>
    </p>
    <p>
      <a class="btn btn-primary btn-lg" href="#" role="button"><%= t('.learn_more') %> »</a>
    </p>
  </div>
</div>
<div class="container">
  <% @campaigns.each do |c| %>
    <div class="row">
      <div class="col-md-4">
        <h3><%= c.name %></h3>
        <p><%= c.short_description %></p>
        <p><a class="btn btn-secondary" href="#" role="button"><%= t('.join_campaign') %> &raquo;</a></p>
      </div>
    </div>
  <% end %>
</div>
