<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= t('.page_html_title') %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
      <a class="navbar-brand" href="#">
        <%= image_tag "datarights.svg", height: 24 %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="<%= t '.toggle_navigation' %>">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to t('.home'), :home, class:"nav-link" %>
            </li>
            <% if user_signed_in? %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= t '.campaigns' %></a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                  <% @campaigns.each do |c| %>
                    <%= link_to "#{c.name}<small>(#{c.count_of_access_requests_by_user(current_user)})</small>".html_safe, campaign_access_requests_path(c.id), class:"dropdown-item" %>
                  <% end %>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <%= t '.notifications' %>
                  <% if @unread_notifications_count > 0 %>
                    <span class="badge badge-danger"><%= @unread_notifications_count %></span>
                  <% end %>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><%= t '.forum' %></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><%= t '.faq' %></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><%= t '.help_desk' %></a>
              </li>
              <li class="nav-item">
                <%= link_to t('.my_profile'), :user_profile_edit, class:"nav-link" %>
              </li>
              <% if current_user.can?(:admin_login) %>
              <li class="nav-item">
                <%= link_to t('.admin'), :rails_admin, class:"nav-link" %>
              </li>
              <% end %>
            <% end %>
            </ul>
        <% if user_signed_in? %>
            <a class="nav-link disabled" href="#"><%= t('.welcome') %> <%= current_user.full_name %>!</a>
            <%= button_to(t('user_links.logout'), destroy_user_session_path, {method: :delete, class: 'btn btn-secondary btn-sm'}) %>
        <% else %>
            <%= button_to(t('user_links.login'), new_user_session_path, {class: 'btn btn-secondary btn-sm'}) %>
        <% end %>
      </div>
    </nav>

    <div class="container">
      <% if alert %>
      <div class="alert alert-danger alert-dismissible" role="alert">
        <strong><%= alert %></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <% end %>
      <% if notice %>
      <div class="alert alert-warning alert-dismissible" role="alert">
        <strong><%= notice %></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <% end %>
      <% if flash[:success] %>
      <div class="alert alert-success alert-dismissible" role="alert">
        <strong><%= flash[:success] %></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <% end %>

    </div>

    <main role="main">
      <%= yield %>
    </main>

    <footer class="container">
      <hr />
      <%= t('.disclaimer') %>
    </footer>
</body>
</html>
